/* En frontend/src/index.css */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;500&display=swap");

:root {
  /* Paleta de colores */
  --color-primary: #E70000;
  --color-background: #1A1A1A;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --color-accent: #660000;


  /* Tipografía */
  --font-heading: 'Oswald', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  margin: 0; /* Asegúrate de resetear el margen */
}

h1, h2, h3 {
  font-family: var(--font-heading);
}